.body_style {
  color: #434455;
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  cursor: pointer;
}

.logo {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #4d5ae5;
}
.logo span {
  color: #2e2f42;
}
.site_addres {
  font-style: normal;
}
.ul_link,
.menu_list {
  list-style-type: none;
}
.ul_link .link,
.menu_list .link {
  text-decoration: none;
  color: #2e2f42;
}
.ul_link .link {
  font-weight: 400;
  font-style: normal;
  color: #434455;
}
.menu_list .link:hover,
.ul_link .link:hover {
  color: #404bbf;
}

.menu_list .link:focus,
.ul_link .link:focus {
  color: #404bbf;
}
.ul_link .link:active,
.menu_list .link:active {
  text-decoration: underline;
}
.main_title {
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}
.section_solutions,
.footer_style {
  background-color: #2e2f42;
  color: #f4f4fd;
}
.button_section_solutions {
  background-color: #4d5ae5;
  color: #ffffff;
  letter-spacing: 0.04em;
  cursor: pointer;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

.button_section_solutions:hover {
  background-color: #404bbf;
}
.button_section_solutions:focus {
  background-color: #404bbf;
}
#team {
  background-color: #f4f4fd;
}

.header_block {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.text {
  font-weight: 400;
}
.header_section_text {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: #2e2f42;
}

.header_section {
  visibility: hidden;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
}
.link_team {
  background-color: #ffffff;
}

.footer_style .studio {
  color: #f4f4fd;
}

.footer_style .logo {
  color: #4d5ae5;
}
